<a href="https://colab.research.google.com/github/PreethikaShankar/Python_Exercises/blob/master/01_Getting_%26_Knowing_Your_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Getting and Knowing your data

Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

Step 2. Import the dataset from this address.

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

Assign it to a variable called df

In [0]:
df = pd.read_csv(url, sep = '\t')

Step 4. See the first 10 entries

In [0]:
df.head(10)

Step 5. What is the number of observations in the dataset?

In [0]:
df.shape

In [0]:
df.info()

Step 6. What is the number of columns in the dataset?

In [0]:
df.shape[1]

Step 7. Print the name of all the columns

In [0]:
df.columns

Step 8. How is the dataset indexed?

In [0]:
df.index

Step 9. Which was the most-ordered item?

In [0]:
group = df.groupby('item_name')
group_sum = group.sum()
most_ordered_item = group_sum.sort_values('quantity',ascending=False)
most_ordered_item.head(1)

Step 10. For the most-ordered item, how many items were ordered?

In [0]:
group = df.groupby('item_name')
group_sum = group.sum()
most_ordered_item = group_sum.sort_values('quantity',ascending=False)
most_ordered_item.head(1)

Step 11. What was the most ordered item in the choice_description column?

In [0]:
group = df.groupby('choice_description')
group_sum = group.sum()
most_ordered_item = group_sum.sort_values('quantity',ascending=False)
most_ordered_item.head(1)

Step 12. How many items were orderd in total?

In [0]:
group_sum = df.quantity.sum()
group_sum

Step 13. Turn the item price into a float

Step 13.a. Check the item price type

In [0]:
df.item_price.dtype

Step 13.b. Create a lambda function and change the type of item price

In [0]:
price_float = lambda x: float(x[1:-1])
df.item_price = df.item_price.apply(price_float)

In [0]:
df.item_price.dtype

Step 14. How much was the revenue for the period in the dataset?

In [0]:
revenue = (df['quantity']* df['item_price']).sum()
print ('Revenue was $'+ str(round(revenue,2)))